@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Pretendard';
  }
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src:
    url('@/assets/fonts/Pretendard/Pretendard-Regular.woff') format('woff'),
    url('@/assets/fonts/Pretendard/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src:
    url('@/assets/fonts/Pretendard/Pretendard-Medium.woff') format('woff'),
    url('@/assets/fonts/Pretendard/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src:
    url('@/assets/fonts/Pretendard/Pretendard-SemiBold.woff') format('woff'),
    url('@/assets/fonts/Pretendard/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src:
    url('@/assets/fonts/Pretendard/Pretendard-Bold.woff') format('woff'),
    url('@/assets/fonts/Pretendard/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'NicoMoji';
  src: url('@/assets/fonts/NicoMoji/NicoMoji-Regular.ttf');
}

body {
  -ms-overflow-style: none;
}
/* ::-webkit-scrollbar {
  display: none;
} */
